* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 100px;
  background-color: #e6e600;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #e6e600;
}

.inner {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  background-color: red;
}

.main {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
}

.slidecontent {
  height: 300px;
  background-color: #b3b300;
}

.content {
  height: 200px;
  background-color: #666600;
  display: flex;
}

.logo {
  width: 200px;
  height: 100px;
  background-color: aqua;
  float: left;
}

.nav {
  width: 800px;
  height: 100px;
  background-color: aquamarine;
  float: right;
}

.con1 {
  width: 33.3%;
  background-color: gray;
}

.con2 {
  width: 33.3%;
  background-color: bisque;
}

.con3 {
  width: 33.3%;
  background-color: gray;
}

footer div.inner {
  display: flex;
}

.f1 {
  width: 200px;
  background-color: bisque;
}

.fright {
  flex-direction: column;
}

.f2 {
  width: 1000px;
  height: 50px;
  background-color: aqua;
}

.f3 {
  width: 1000px;
  height: 50px;
  background-color: blue;
}