* {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

header {
  width: 200px;
  height: 850px;
  background-color: #b3d988;
}

.main {
  width: calc(100% - 200px);
  height: 850px;
}

.con {
  width: 100%;
  height: 400px;
  background-color: bisque;
}

.slide {
  width: 100%;
  height: 200px;
  background-color: blueviolet;
}

.content {
  width: 100%;
  height: 250px;
  background-color: beige;
}

footer {
  width: 100%;
  height: 100px;
  background-color: blue;
}
