section {
  border: 1px solid black;
}

.s1 p,
.s2 p,
.s3 p,
.s4 p,
.s5 p {
  border: 1px solid black;
  width: 50%;
}

h1,
h2,
h3,
p {
  margin-left: 15px;
}

.s1 > p.align-left {
  text-align: left;
}

.s1 > p.align-right {
  text-align: right;
}

.s1 > p.align-center {
  text-align: center;
}

.s1 > p.align-justify {
  text-align: justify;
}

.s2 > p.indent1 {
  text-indent: 15px;
}

.s2 > p.indent2 {
  text-indent: 5%;
}

.s3 > p.small-line {
  line-height: 0.7;
}

.s3 > p.big-line {
  line-height: 2;
}

.s4 > p.content {
  border: 1px solid #ccc;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.s4 > p.content:hover {
  overflow: visible;
}

.s5 > p.ex1 {
  line-height: 30px;
  font-size: 20px;
  text-align: center;
}

.s6 > ul.sqbullet {
  list-style-type: square;
}

.s6 > ul.nobullet {
  list-style-type: none;
}

.s7 > ol.book1 {
  list-style-type: lower-alpha;
}

.s7 > ol.book2 {
  list-style-type: upper-roman;
}

.s8 > ul.ex1 {
  list-style-image: url(../images/dot.png);
}

.s9 > ul.inside {
  list-style-position: inside;
}

.s9 > ul.outside {
  list-style-position: outside;
}

.s10 > ul.ex2 {
  list-style-type: none;
}

.s11 > p > span.font {
  font-weight: 700;
  font-size: larger;
}

.s12 > ul.none {
  list-style-type: none;
}

.s12 > ul > li > span.font {
  font-weight: 700;
  color: #ad3000;
  line-height: 2;
}

.s13 > div.container {
  width: 500px;
  height: 50px;
  margin: 0 auto;
  background-color: #444;
  text-align: center;
}

.s13 > div > h1 {
  color: #fff;
  text-shadow: 3px 2px 5px black;
}

.s14 {
  font-family: "맑은 고딕", "돋움";
}
.s14 > h1 {
  font-size: 17px;
}
.s14 p {
  font-size: 16px;
  line-height: 25px;
}
.s14 span.accent {
  font-weight: bold;
  color: red;
}
.s14 div.container1 {
  width: 750px;
  padding: 10px;
  border: 1px solid #ccc;
}
.s14 > div.container1 > div.book-img {
  float: left;
  padding: 10px;
  margin-right: 20px;
}
.s14 > div.container1 > div.book-desc {
  padding: 10px;
}
